<section class="block container block-features">
  <header class="block__header">
    <h2 class="block__heading">Host on the Cloud to keep Growing</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt facere,
      sapiente laudantium nihil iste possimus quos autem voluptas fuga vero!
    </p>
  </header>
  <article class="grid grid--cols-2 grid__feature">
    <div class="media feature__content">
      <div class="media__image">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="Images/sprite.svg#easy"></use>
          </svg>
        </span>
      </div>
      <div class="media__body">
        <h3 class="media__title">Super Easy to Use</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi
          rerum, deleniti ducimus dicta doloribus quisquam accusamus sed velit
          quas repellendus!
        </p>
        <a href="#" class="link-arrow">Learn more</a>
      </div>
    </div>
    <img class="feature__image" src="Images/easy.jpg" alt="" />
  </article>
  <article class="grid grid--cols-2 grid__feature">
    <div class="media feature__content">
      <div class="media__image">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="Images/sprite.svg#computer"></use>
          </svg>
        </span>
      </div>
      <div class="media__body">
        <h3 class="media__title">Simply fast websites</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi
          rerum, deleniti ducimus dicta doloribus quisquam accusamus sed velit
          quas repellendus!
        </p>
        <a href="#" class="link-arrow">Learn more</a>
      </div>
    </div>
    <img class="feature__image" src="Images/fast.jpg" alt="" />
  </article>
  <article class="grid grid--cols-2 grid__feature">
    <div class="media feature__content">
      <div class="media__image">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="Images/sprite.svg#settings"></use>
          </svg>
        </span>
      </div>
      <div class="media__body">
        <h3 class="media__title">Wordpress made easy</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi
          rerum, deleniti ducimus dicta doloribus quisquam accusamus sed velit
          quas repellendus!
        </p>
        <a href="#" class="link-arrow">Learn more</a>
      </div>
    </div>
    <img class="feature__image" src="Images/wordpress.jpg" alt="" />
  </article>
  <article class="grid grid--cols-2 grid__feature">
    <div class="media feature__content">
      <div class="media__image">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="Images/sprite.svg#clock"></use>
          </svg>
        </span>
      </div>
      <div class="media__body">
        <h3 class="media__title">24/7 Expert Support</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi
          rerum, deleniti ducimus dicta doloribus quisquam accusamus sed velit
          quas repellendus!
        </p>
        <a href="#" class="link-arrow">Learn more</a>
      </div>
    </div>
    <img class="feature__image" src="Images/support.jpg" alt="" />
  </article>
</section>
